@model IEnumerable<Historia_Clinica.Models.Rol>

@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>

<link rel="stylesheet" href="~/css/controladores.css" asp-append-version="true" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
